[submodule "modules/squid"]
	path = modules/squid
	url = git@github.com:dezwart/puppet-squid.git
[submodule "modules/apt"]
	path = modules/apt
	url = git@github.com:dezwart/puppet-apt.git
[submodule "modules/bind"]
	path = modules/bind
	url = git@github.com:dezwart/puppet-bind.git
[submodule "modules/resolv"]
	path = modules/resolv
	url = git@github.com:dezwart/puppet-resolv.git
[submodule "modules/rsyslog"]
	path = modules/rsyslog
	url = git@github.com:dezwart/puppet-rsyslog.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git@github.com:dezwart/puppet-ntp.git
[submodule "modules/arpwatch"]
	path = modules/arpwatch
	url = git@github.com:dezwart/puppet-arpwatch.git
[submodule "modules/tftpd"]
	path = modules/tftpd
	url = git@github.com:dezwart/puppet-tftpd.git
[submodule "modules/isc_dhcp"]
	path = modules/isc_dhcp
	url = git@github.com:dezwart/puppet-isc-dhcp.git
